.navbar {
    height: var(--navbar-height);
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;

    background-color: var(--bg2);
    box-shadow: var(--shadow);

    a {
        text-decoration: none;
        color: var(--fg2);
    }

    a:hover {
        color: var(--fg3);
    }
}

.navLinkList {
    display: flex;
    gap: 40px;
    flex: 1;
    justify-content: center;

    list-style: none;

    li {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        font-size: 1.25rem;
    }
}