:root {
  // global variables here
  --background: #ffccdf;
  --text-primary: #290b13;
  --text-secondary: #662033;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--inter);
  color: var(--text-primary);
}

a {
  color: var(--text-primary);
  font-size: 1rem;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  transition: 0.3s;
}


h1:hover, h2:hover, h3:hover, a:hover {
  color: var(--text-secondary);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a:hover {
  font-size: 1.0625rem;
}
