.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);

  padding: 0 80px;
}

.content {
  position: relative;
  top: 30vh;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 16px;

  ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.subTexts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.socialsIcons {
  display: flex;
  gap: 16px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.socialIcon:hover {
  color: var(--text-secondary);
  width: 44px;
  height: 44px;
}

