.page {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  width: 100%;
  display: flex;
  flex-direction: column;

  a {
    font-weight: 600;
  }
}

.hero {
  height: 600px;
  display: flex;
  position: relative;
  padding: 0 80px;
}

.stickerWrapper {
  position: relative;
  top: -20px;
  flex: 1;
  max-width: 467px;
  height: 1068px;

  img {
    object-fit: contain;
    object-position: top;
  }
}

.speech {
  flex: 1;
  position: relative;
  top: 40px;
  height: 327px;
  margin-left: -80px;
}

.speechText {
  position: absolute;
  padding: 80px;
  margin-left: 40px;
  background-color: var(--bg2);
  border-radius: 40px;
  box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-family: var(--calibri);
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.stardewIcons {
  width: 576px;
  height: 60px;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 576px * 0.5);

  display: flex;
  justify-content: space-between;
}

.stardewIconContainer {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img:hover {
    height: 60px;
    width: 60px;
  }
}

.naomiCrunchwrapWrapper {
  position: absolute;
  width: 223px;
  height: 298px;
  flex: 1;
  bottom: 0;
  right: 0;
}

.homeAbout {
  background-color: var(--bg2);
  height: 580px;
  z-index: 1000;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.2);
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.naomiIconWrapper {
  position: relative;
  height: 320px;
  width: 320px;
  border-radius: 320px;
  overflow: hidden;
}

.homeAboutText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  ul {
    margin-left: 20px;
  }
}

.pageEnd {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.beeWrapper {
  position: relative;
  width: 200px;
  height: 122px;
}
