.page {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 40px;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: relative;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 60px;

  border: 1px solid white;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--background-overlay);

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 40px #15376630, inset 0 4px 60px #ffffff80;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 40px;

  ul {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.socialsIcons {
  display: flex;
  gap: 16px;
}

.socialIcon {
  width: 40px;
  height: 40px;
}

.socialIcon:hover {
  color: var(--text-secondary);
}

