.page {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  width: 100%;
  display: flex;
  flex-direction: column;

  a {
    font-weight: 600;
  }
}

.hero {
  height: 600px;
  display: flex;
}

.stickerWrapper {
  position: relative;
  top: -20px;
  width: 467px;
  height: 1068px;
}

.speech {
  position: relative;
  top: 40px;
  width: 672px;
  height: 327px;
}

.speechText {
  position: absolute;
  padding: 80px;
  margin-left: 40px;
  background-color: var(--bg2);
  border-radius: 40px;
  box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.10);

  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-family: var(--calibri);
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.homeAbout {
  background-color: var(--bg2);
  height: 580px;
  z-index: 1000;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.20);
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.naomiIconWrapper {
  position: relative;
  height: 320px;
  width: 320px;
  border-radius: 320px;
  overflow: hidden;
}

.homeAboutText {
  display: flex;
  flex-direction: column;
  gap: 24px;

  ul {
    margin-left: 20px;
  }
}