@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background: #ffccdf;
    --text-primary: #290b13;

    font-family: "Inter", serif;
    color: var(--text-primary);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    position: relative;

    width: 100%;
    min-height: 100vh;

    background-color: var(--background);

}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    top: 30vh;
}

#paragraphs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}